.radix-site-nav {
    color: rgba(255, 255, 255, 0.8);
    background-color: #383838;
    font-size: 15px;
    font-weight: 300;
  }
  
  .radix-site-nav a {
    color: inherit;
    text-decoration: none;
  }
  
  .radix-site-nav a:hover {
    color: white;
  }
  
  .radix-site-header {
  }
  
  .radix-site-footer {
  }
  
  @media print {
    .radix-site-nav {
      display: none;
    }
  }